body{
    background-color:purple ;
}



    #navbar { display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
        border: 3px yellow;
    }
    



    
    



















































}